<section class="wrapper">
  <div class="actions">
    <button class="add-btn" (click)="onClickAddProduct()">
      <fa-icon [icon]="faPlus"></fa-icon> Add Product
    </button>
  </div>
  <div class="table-wrapper">
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>quantity</th>
        <th>description</th>
        <th>category</th>
        <th>actions</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>
          <a class="product-url" href="{{product.imageUrl}}" target="_blank">
            {{product.name}}
          </a>
        </td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.description}}</td>
        <td>{{product.categoryName}}</td>
        <td>
          <div class="btn-group">
            <button class="btn edit-btn" (click)="select(product)">
              <fa-icon [icon]="faPen"></fa-icon>
              Edit</button>
            <button class="btn delete-btn" (click)="deleteProduct(product.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
              Delete</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</section>

<app-popup #productForm title="add product">
  <form #form="ngForm" (ngSubmit)="this.addProduct(form.value)" class="form">
    <div class="input-group">
      <label htmlFor="name" class="label">Name</label>
      <div class="input-container">
        <input type="text" name="name" placeholder="name" ngModel />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="price" class="label">Price</label>
      <div class="input-container">
        <input type="number" name="price" placeholder="price" ngModel />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="quantity" class="label">Quantity</label>
      <div class="input-container">
        <input type="number" name="quantity" placeholder="quantity" ngModel />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="imageUrl" class="label">Image URL</label>
      <div class="input-container">
        <input type="text" name="imageUrl" placeholder="image url" ngModel />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="description" class="label">Description</label>
      <div class="input-container">
        <input type="text" name="description" placeholder="description" ngModel />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="categoryName" class="label">Category Name</label>
      <div class="input-container">
        <input type="text" name="categoryName" placeholder="category name" ngModel />
      </div>
    </div>
    
    <button type="submit" class="add-btn">Add</button>
  </form>
  
</app-popup>

<app-popup #popup title="Update Product">
  <form *ngIf="selectedProduct" class="form">
    <div class="input-group">
      <label htmlFor="name" class="label">Name</label>
      <div class="input-container">
        <input type="text" name="name" [(ngModel)]="selectedProduct.name" />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="price" class="label">Price</label>
      <div class="input-container">
        <input type="number" name="price" [(ngModel)]="selectedProduct.price" />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="quantity" class="label">Quantity</label>
      <div class="input-container">
        <input type="number" name="quantity" [(ngModel)]="selectedProduct.quantity" />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="description" class="label">Description</label>
      <div class="input-container">
        <input type="text" name="description" [(ngModel)]="selectedProduct.description" />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="categoryName" class="label">Category Name</label>
      <div class="input-container">
        <input type="text" name="categoryName" [(ngModel)]="selectedProduct.categoryName" />
      </div>
    </div>
    
    <div class="input-group">
      <label htmlFor="imageUrl" class="label">Image URL</label>
      <div class="input-container">
        <input type="text" name="imageUrl" [(ngModel)]="selectedProduct.imageUrl" />
      </div>
    </div>
    
    <button (click)="updateProduct(selectedProduct)" class="btn edit-btn">Update</button>
  </form>
</app-popup>
