<header class="wrapper">
  <div class="navbar">
    <div class="logo-wrapper" routerLink="/home">
      <img src="assets/logo.png" alt="promart logo" class="logo" />
    </div>
    <div *ngIf="isLoggedIn; else authTemplate">
      <div class="flex">
        <!-- <div>orders</div> -->
        <div
          *hasRoles="[roles.USER]"
          class="cart-icon"
          (click)="open()"
          title="cart"
        >
          <fa-icon [icon]="faShoppingCart"></fa-icon>
          <span *ngIf="cartCount" class="chip cart-count">{{cartCount}}</span>
        </div>
        <div class="avatar">
          <span class="username" [title]="user.username">
            {{user.username.substring(0,1) | uppercase}}
          </span>
          <div *hasRoles="[roles.ADMIN]" title="admin role" class="chip">a</div>
        </div>
        <button class="btn border" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
    <ng-template #authTemplate>
      <div class="flex">
        <button class="btn" routerLink="/signup">Signup</button>
        <button class="btn border" routerLink="/login">Login</button>
      </div>
    </ng-template>
  </div>
  <!-- <app-cart [state]="state" [cartItems]="cartItems" ></app-cart> -->
</header>
