input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 1.2em;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

button {
  cursor: pointer;
}

ngx-ui-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.2);
  width: 10px;
  height: auto;
}

.auth-form {
  min-width: 320px;
  max-width: 340px;
  width: 100%;
}

.auth-title {
  font-family: "Playwrite CL", cursive;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: hsl(212, 24%, 26%);
}

.auth-desc {
  font-size: 0.875rem;
  color: hsl(211, 10%, 45%);
  margin-bottom: 1.5rem;
}

.error {
  background-color: hsla(0, 100%, 50%, 0.196);
  border-radius: 4px;
  color: hsl(0, 100%, 50%);
  padding: 0.75rem 0.5rem;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.remove-btn {
  background-color: transparent;
  border: none;
  display: flex;
  color: hsl(0, 100%, 50%);
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin-bottom: 1.45rem;
  position: relative;
}

.input-group > .label {
  color: hsl(212, 24%, 26%);
}

.input-group:has(:focus) > .label,
.input-group:has(:focus) > .input-container {
  color: hsl(257, 49%, 47%);
  border-color: hsl(257, 49%, 47%);
}

.input-container {
  height: 45px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 90%);
  overflow: hidden;
}

.auth-btn {
  width: 100%;
  border: none;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  background-color: hsl(257, 49%, 47%);
  color: hsl(0, 0%, 100%);
  transition: all 0.1s ease-in-out;
  margin-bottom: 1rem;
}

.auth-btn:focus {
  box-shadow: 0 0 0 4px hsl(257, 49%, 47%, 0.2);
}

.loader-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(250, 248, 248, 0.5);
}

.message {
  font-size: 0.875rem;
  color: hsl(211, 10%, 45%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
}

.link-to {
  color: hsl(257, 49%, 47%);
  font-weight: 500;
  text-decoration: none;
}

/*form validation*/
.input-group.has-error .input-container {
  border-color: hsl(0, 100%, 50%);
}

.input-group.has-error .label {
  color: hsl(0, 100%, 50%);
}

.input-group.has-error::after {
  content: attr(data-error);
  position: absolute;
  top: 100%;
  left: 0;
  color: hsl(0, 100%, 50%);
  font-size: 0.75rem;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

@media screen and (width <=768px) {
  .auth-form {
    max-width: 100%;
  }

  .auth-title {
    text-align: center;
  }
}
