<form class="auth-form" #form="ngForm" (ngSubmit)="register(form.value)">
  
  <h3 class="auth-title">Welcome to Promart!</h3>
  <p class="auth-desc">Please signup to start shopping</p>

  <div *ngIf="errorMessage" class="error">
    <fa-icon [icon]="faExclamationTriangle"></fa-icon>
    <p>{{errorMessage}}</p>
    <button class="remove-btn">
      <fa-icon [icon]="faXmark" (click)="removeError()"></fa-icon>
    </button>
  </div>

  <div class="input-group" [class.has-error]="username.invalid && (username.touched || username.dirty)" [attr.data-error]="username.errors?.['required'] && 'username is required'">
    <label htmlFor="username" class="label">
      Username
    </label>
    <div class="input-container" data-error="username is required">
      <input
        type="text"
        name="username"
        ngModel
        required
        #username="ngModel"
        placeholder="What should we call you?"
      />
    </div>
  </div>

  <div class="input-group" [class.has-error]="email.invalid && (email.touched || email.dirty)" [attr.data-error]="email.errors?.['required'] || email.errors?.['pattern'] && 'email is required and valid'">
    <label htmlFor="email" class="label" >
      Email
    </label>
    <div class="input-container" >
      <input
        type="email"
        name="email"
        #email="ngModel"
        ngModel
        required
        placeholder="Enter email"
        id="email"
      />
    </div>
  </div>

  <div class="input-group" [class.has-error]="password.invalid && (password.touched || password.dirty)" [attr.data-error]="password.errors?.['required'] && 'password is required'">
    <label htmlFor="password" class="label">
      Password
    </label>
    <div class="input-container">
      <input
        type="password"
        name="password"
        #password="ngModel"
        ngModel
        required
        placeholder="Enter password"
      />
    </div>
  </div>

  <button class="auth-btn" type="submit">
    <div *ngIf="isLoading" class="loader-background">
      <ngx-ui-loader
        fgsType="three-bounce"
        bgsPosition="center-center"
        [bgsSize]="10"
        fgsColor="white"
      ></ngx-ui-loader>
    </div>
    Signup
  </button>

  <span class="message">
    Already have an account?
    <a routerLink="/login" class="link-to">
      Login
    </a>
  </span>

</form>
